<div id = "bucketter_data" class ="container center hero-unit">
  <h1>Bucketter Data</h1>
  <p>
    <strong>NickName: </strong>
    <%= @bucketter.name %>
  </p>

  <% if signed_in? && (current_bucketter ==@bucketter||current_bucketter ==@offer.book.bucketter) %>
    <% if current_bucketter == @bucketter %>
      <p>
        <strong>Email: </strong>
        <%= @bucketter.email %>
      </p>
    <% end %>

    <p>
      <strong>本名: </strong>
      <%= "#{@bucketter.last_name} #{@bucketter.first_name}" %>
    </p>
    <p>
      <strong>住所: </strong>
      <%= @bucketter.address %>
    </p>
  <% end%>

</div>
