<div id = "bucketter_data">
  <p>
    <strong>NickName</strong>
    <%= @bucketter.name %>
  </p>
  <p>
    <strong>Email</strong>
    <%= @bucketter.email %>
  </p>
  <p>
    <strong>Address</strong>
    <%= @bucketter.address %>
  </p>
  <p>
    <strong>Name</strong>
    <%= "#{@bucketter.last_name} #{@bucketter.first_name}" %>
  </p>
</div>
